body {
      background-color: #1A1A1A;
      margin: 32px;
      overflow: hidden; 
    }

    /* HEADER */

    h1 {
      color: #FFFFFF;
      font-weight: bold;
      font-size: 32px;
    }

    /* -- SEARCH BAR --  */

    .search-bar {
      background-color: #404040;
      border-radius: 15px;
      padding: 5px;
      display: flex;
      align-items: center;
      width: 250px;
    }
    .search-bar input {
      background: none;
      border: none;
      outline: none;
      color: #FFFFFF;
      width: 100%;
      margin-left: 10px;
    }
    .search-bar input::placeholder {
      color: #636363;
    }

    .bi-search {
        margin-left: 5px;
    }

    /* -- SORTING -- */
    .sort-btn {
      background-color: #9E0A0A;
      color: white;
      border-radius: 15px;
      border: none;
      padding: 8px 16px;
      font-size: 15px;
      font-weight: 200;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    /* -- TABLES  -- */
    .table-container {
      background-color: #313131;
      margin-top: 20px;
      height: calc(100vh - 180px); /* Fixed size, responsive height */
      overflow-y: auto;
      border-radius: 10px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    thead {
      background-color: #9E0A0A;
      color: white;
      position: sticky;
      top: 0;
      ;
    }
    th, td {
      padding: 10px;
      text-align: left;
      color: white;
    }
    tbody tr {
      background-color: #313131;
    }

    /* -- SORTING DROP DOWN -- */
    .dropdown-menu {
      min-width: 150px;
    }

    /* Wrapper para di mag-overlap */
.content-wrapper {
  margin-left: 270px;   
  transition: margin-left 0.3s ease;
  padding: 20px;
}

/* kapag collapsed ang sidebar */
.sidebar.collapsed ~ .content-wrapper {
  margin-left: 100px;
}

/* mobile view */
@media (max-width: 1024px) {
  .content-wrapper {
    margin-left: 0 !important;
  }
}
