body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;

  /* original background image stays clear */
  background: url("img/bgform.jpg") no-repeat center center fixed;
  background-size: cover;

  position: relative;
  z-index: 0;
}

/* blur overlay */
body::before {
  content: "";
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* transparent dark layer */
  background: rgba(26, 26, 26, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  z-index: -1;
}

        .main-header {
            color: #fff;
            font-weight: 700;
            text-align: center;
            margin-top: 40px;
        }
        .divider {
            border: none;
            border-top: 2px solid #fff;
            width: 60px;
            margin: 16px auto;
        }
        .header-desc {
            color: #fff;
            text-align: center;
            margin-bottom: 32px;
        }
        
        /* --------------- MAINE HEADER --------------- */

        .assessment {
            color: #9E0A0A;
        }

        .main-header {
            text-align: center; 
        }

        .header-desc{
            text-align: center;
        }

        .header-note {
            font-style: italic;
            color: #B8B8B8;
            text-align: center
        }

        .divider {
            border: none;
            border-top: 2px solid #ffffff;
            width: 100%;   
        }


        /* FORM CONTAINER */
        .form-container {
            background-color: transparent;
            border: 1px solid #111111; 
            backdrop-filter: blur(10px); 
            -webkit-backdrop-filter: blur(10px); 
            border-radius: 10px;
            border-radius: 16px;
            padding: 32px 24px;
            margin-bottom: 32px;
            max-width: 1020px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 2px 16px rgba(0,0,0,0.08);
        }
        .section-title {
            font-size: 1.5em;
            font-weight: 700;
            margin-bottom: 18px;
            color: white;
        }
        .question-section-title {
            font-weight: 600;
            margin-top: 24px;
            margin-bottom: 12px;
            color: white;
        }
        
        /* QUESTION CONTAINER */
        .question-container {
           background-color: #c2c0c01f;
           backdrop-filter: blur(10px);
           -webkit-backdrop-filter: blur(10px);
           border-radius: 10px;
            padding: 18px 20px;
            margin-bottom: 18px;
            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 8px 24px 0 rgba(0,0,0,0.13);
        }
        .form-label {
            font-weight: 500;
            color: white;
        }

        /* INPUTS */
        .form-control,
        .form-control:focus,
        .form-control:active {
            background-color: transparent!important;
            border: 1px solid white;
            border-radius: 15px;
            color: #fff;

        }
        .form-control::placeholder {
            color: #a1a1a1 !important;
            opacity: 1;
        }

        /* CALENDAR ICON COLOR */

        #dob {
            color: #a1a1a1;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(90%) contrast(90%);
        }
        input[type="date"]::-webkit-input-placeholder { color: #817F7F; }
        input[type="date"]::-moz-placeholder { color: #817F7F; }
        input[type="date"]::placeholder { color: #817F7F; }
        input[type="date"]:-ms-input-placeholder { color: #817F7F; }

        /* ---------- SEX CHECKBOX ONLY ---------- */

        .gender {
            color: white;
            margin-left: 2px;
        }

        .sex-checkbox .form-check-input {
            background-color: transparent;
            border: 1px solid white;
            width: 1.2em;
            height: 1.2em;
        }

        .sex-checkbox .form-check-input:checked {
            border-color: #9E0A0A;
        }

        .sex-checkbox .form-check-input:checked[type=checkbox] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='white' d='M12.97 4.97a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 1 1 1.06-1.06L7 10.44l5.47-5.47a.75.75 0 0 1 1.06 0z'/%3e%3c/svg%3e");
        }


        /* -------------------- CHECKBOX -------------------- */

        /* UNDERLINE INPUT STYLE */
        .underline-input {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            color: #fff;
            display: inline-block;
            width: 180px; /* pwede mo adjust */
            margin-left: 8px;
        }
        
        .underline-input::placeholder {
            color: #a1a1a1;
            font-style: italic;
        }
        
        /* NOTE SA TABI LANG NG INPUT */
        .specify-note {
            font-style: italic;
            color: #817F7F;
            margin-left: 6px;
            display: inline;
        }

        /* DIET CHECKBOX SECTION */
        .diet-checkbox .diet-form-check-input {
            background-color: transparent;
            border: 1px solid #000;
        }

        .diet-checkbox .diet-form-check-input:checked[type=checkbox] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='green' d='M12.97 4.97a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 1 1 1.06-1.06L7 10.44l5.47-5.47a.75.75 0 0 1 1.06 0z'/%3e%3c/svg%3e");
        }

        #choice01 {
            color: #fff;
            margin-left: 4px;
        }
        
        /* FITNESS GOAL CHECKBOX SECTION */

        #fitness-choices {
            color: #fff;
            margin-left: 4px;
        }

        /* HEALTH INFORMATION CHECKBOX SECTION */

        #health-choices {
            color: #fff;
            margin-left: 4px;
        }
        
        /* SUBMIT BUTTON */
        .submit-btn {
            background-color: #9E0A0A;
            text-align: center;
            text-decoration: none;
            width: 200px;
            color: #fff;
            font-weight: 600;
            border: none;
            border-radius: 8px;
            padding: 12px 32px;
            display: block;
            margin: 0 auto 40px auto;
            transition: background 0.2s;
        }
        .submit-btn:hover {
            background-color: #7c0707;
        }

       .italic-note {
    font-style: italic;
    color: #817F7F;
    margin-left: 4px;
}


        
        /* ITALIC FOR CHECK ALL THAT APPLY */
        .italic-note {
            font-style: italic;
            color: #817F7F;
            font-size: 0.97em;
            margin-bottom: 4px;
            display: block;
        }
        @media (max-width: 576px) {
            .form-container {
                padding: 18px 6px;
            }
            .question-container {
                padding: 12px 8px;
            }
        }